<h1>Posts#index</h1>

<% @posts.each do |p| %>
	<h4><%= p.title %></h4>
	<p><%= p.body %></p>
	<%= link_to "View Post", p %>
<% end %>
<br><br><br><br><br><br>


<!---------- ADMINS ONLY ---------->
<%= link_to "New post", new_post_url %>